body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  margin: 0;
  font-size: 16px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  box-sizing: border-box;
}

main {
  flex: 1;
}

header h1 {
  margin: 60px;
}

.calculator-container {
  width: 420px;
  display: flex;
  flex-direction: column;
  border: 3px solid;
  border-radius: 5px;
  padding: 10px 5px;
  font-size: 30px;
  background-color: #2d3142;
  /* background-color: #4f5d75; */
}

.buttons {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  padding: 10px 0;

  /* flex: auto; */
  /* flex-direction: column; */
}

#zero-button {
  width: 170px;
}

.buttons button {
  width: 80px;
  height: 50px;
  border-radius: 3px;
  border: 0;
  font-weight: bold;
  font-size: 30px;
}

.dark-grey-button {
  background-color: #4d4a5a;
  color: white;
}

.grey-button {
  background-color: #aaa9ac;
}

.orange-button {
  background-color: #c27a1d;
  color: white;
}

.display {
  height: 80px;
  padding: 5px 10px;
  margin: 5px 36px;
  border-radius: 2px;
  border: none;
  /* justify-content: flex-end; */
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  background-color: #778692c2;
  color: white;
}
